<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ownchan.server.persistence.mapper.DbContentCommentMapper">

  <resultMap id="defaultResultMap" type="DbContentComment">
    <id column="id" property="id" />
    <result column="parent_id" property="parentId" />
    <result column="text" property="text" />
    <result column="user_id" property="userId" />
    <result column="content_id" property="contentId" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
    <result column="embedded_content_id" property="embeddedContentId" />
  </resultMap>
  
  <select id="fetchOrStreamAll">
    select * from ocn_content_comment
  </select>
  
  <select id="fetchOrStream">
    <include refid="fetchOrStreamAll"/>
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.applyGroupedFilterParams"/>
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.applySortingParams"/>
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.applyLimitParam"/>
  </select>

  <select id="fetch" resultMap="defaultResultMap">
    <include refid="fetchOrStream"/>
  </select>
  
  <select id="stream" resultMap="defaultResultMap">
    <include refid="fetchOrStream"/>
  </select>
  
  <select id="fetchAll" resultMap="defaultResultMap">
    <include refid="fetchOrStreamAll"/>
  </select>
  
  <select id="streamAll" resultMap="defaultResultMap">
    <include refid="fetchOrStreamAll"/>
  </select>

  <delete id="delete">
    delete from ocn_content_comment
    where id = #{id}
  </delete>

  <insert id="insert">
    <selectKey keyProperty="id" order="AFTER" resultType="long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ocn_content_comment (
      parent_id, 
      text, 
      user_id, 
      content_id, 
      embedded_content_id
    )
    values (
      #{parentId}, 
      #{text}, 
      #{userId}, 
      #{contentId},
      #{embeddedContentId}
    )
  </insert>

  <update id="update">
    update ocn_content_comment
    set 
      parent_id = #{parentId},
      text = #{text},
      user_id = #{userId},
      content_id = #{contentId},
      embedded_content_id = #{embeddedContentId}
    where id = #{id}
  </update>

  <select id="get" resultMap="defaultResultMap">
    select *
    from ocn_content_comment
    where id = #{id}
  </select>

</mapper>
