<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ownchan.server.persistence.mapper.DbContentMapper">

  <resultMap id="defaultResultMap" type="DbContent">
    <id column="id" property="id" />
    <result column="status" property="status" />
    <result column="status_reason" property="statusReason" />
    <result column="parent_id" property="parentId" />
    <result column="user_id" property="userId" />
    <result column="caption" property="caption" />
    <result column="country_code" property="countryCode" />
    <result column="city_name" property="cityName" />
    <result column="location" property="location" />
    <result column="content_name" property="contentName" />
    <result column="content_time" property="contentTime" />
    <result column="content_year" property="contentYear" />
    <result column="content_month" property="contentMonth" />
    <result column="content_day" property="contentDay" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
    <result column="physical_content_id" property="physicalContentId" />
    <result column="user_clicks" property="userClicks" />
    <result column="plus_count" property="plusCount" />
    <result column="minus_count" property="minusCount" />
  </resultMap>

  <select id="fetch" resultMap="defaultResultMap">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.fetchOrStream">
      <property name="targetTable" value="ocn_content"/>
    </include>
  </select>

  <select id="stream" resultMap="defaultResultMap">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.fetchOrStream">
      <property name="targetTable" value="ocn_content"/>
    </include>
  </select>

  <select id="fetchAll" resultMap="defaultResultMap">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.fetchOrStreamAll">
      <property name="targetTable" value="ocn_content"/>
    </include>
  </select>

  <select id="streamAll" resultMap="defaultResultMap">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.fetchOrStreamAll">
      <property name="targetTable" value="ocn_content"/>
    </include>
  </select>

  <update id="set">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.set">
      <property name="targetTable" value="ocn_content"/>
    </include>
  </update>

  <update id="setAll">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.setAll">
      <property name="targetTable" value="ocn_content"/>
    </include>
  </update>

  <delete id="purge">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.purge">
      <property name="targetTable" value="ocn_content"/>
    </include>
  </delete>

  <delete id="purgeAll">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.deleteAll">
      <property name="targetTable" value="ocn_content"/>
    </include>
  </delete>

  <select id="count" resultType="long">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.count">
      <property name="targetTable" value="ocn_content"/>
    </include>
  </select>

  <select id="countAll" resultType="long">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.countAll">
      <property name="targetTable" value="ocn_content"/>
    </include>
  </select>

  <select id="get" resultMap="defaultResultMap">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.fetchOrStreamAll">
      <property name="targetTable" value="ocn_content"/>
    </include>
    where id = #{id}
  </select>

  <delete id="delete">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.deleteAll">
      <property name="targetTable" value="ocn_content"/>
    </include>
    where id = #{id}
  </delete>

  <insert id="insert">
    <selectKey keyProperty="obj.id" order="AFTER" resultType="long">
      select last_insert_id()
    </selectKey>
    insert into ocn_content (
      status,
      status_reason,
      parent_id,
      user_id,
      caption,
      country_code,
      city_name,
      location,
      content_name,
      content_time,
      content_year,
      content_month,
      content_day,
      physical_content_id,
      user_clicks,
      plus_count,
      minus_count
    )
    values (
      #{obj.status},
      #{obj.statusReason},
      #{obj.parentId},
      #{obj.userId},
      #{obj.caption},
      #{obj.countryCode},
      #{obj.cityName},
      <choose>
        <when test="location != null">
          ST_PointFromText(#{obj.location},${obj.location.SRID}),
        </when>
        <otherwise>
          NULL,
        </otherwise>
      </choose>
      #{obj.contentName},
      #{obj.contentTime},
      #{obj.contentYear},
      #{obj.contentMonth},
      #{obj.contentDay},
      #{obj.physicalContentId},
      #{obj.userClicks},
      #{obj.plusCount},
      #{obj.minusCount}
    )
    <if test="ignoreDuplicateKey">
      on duplicate key update
        id = last_insert_id(id)
        <if test="updateOnDuplicateKey">
          ,
          <include refid="assignUpdateValues"/>
        </if>
    </if>
  </insert>

  <update id="update">
    update ocn_content
    set
      <include refid="assignUpdateValues"/>
    where id = #{obj.id}
  </update>

  <sql id="assignUpdateValues">
      status = #{obj.status},
      status_reason = #{obj.statusReason},
      parent_id = #{obj.parentId},
      user_id = #{obj.userId},
      caption = #{obj.caption},
      country_code = #{obj.countryCode},
      city_name = #{obj.cityName},
      <choose>
        <when test="location != null">
          location = ST_PointFromText(#{obj.location},${obj.location.SRID}),
        </when>
        <otherwise>
          location = NULL,
        </otherwise>
      </choose>
      content_name = #{obj.contentName},
      content_time = #{obj.contentTime},
      content_year = #{obj.contentYear},
      content_month = #{obj.contentMonth},
      content_day = #{obj.contentDay},
      physical_content_id = #{obj.physicalContentId},
      user_clicks = #{obj.userClicks},
      plus_count = #{obj.plusCount},
      minus_count = #{obj.minusCount}
  </sql>

</mapper>
