<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ownchan.server.persistence.mapper.DbContentAbuseMapper">

  <resultMap id="defaultResultMap" type="DbContentAbuse">
    <id column="id" property="id" />
    <result column="content_id" property="contentId" />
    <result column="violation_type" property="violationType" />
    <result column="explanation" property="explanation" />
    <result column="complaining_entity_ip" property="complainingEntityIp" />
    <result column="complaining_entity_contact" property="complainingEntityContact" />
    <result column="complaining_entity_user_id" property="complainingEntityUserId" />
    <result column="status" property="status" />
    <result column="status_reason" property="statusReason" />
    <result column="assignee_id" property="assigneeId" />
    <result column="team_notes" property="teamNotes" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
  </resultMap>
  
  <select id="fetch" resultMap="defaultResultMap">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.fetchOrStream">
      <property name="targetTable" value="ocn_content_abuse"/>
    </include>
  </select>

  <select id="stream" resultMap="defaultResultMap">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.fetchOrStream">
      <property name="targetTable" value="ocn_content_abuse"/>
    </include>
  </select>

  <select id="fetchAll" resultMap="defaultResultMap">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.fetchOrStreamAll">
      <property name="targetTable" value="ocn_content_abuse"/>
    </include>
  </select>

  <select id="streamAll" resultMap="defaultResultMap">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.fetchOrStreamAll">
      <property name="targetTable" value="ocn_content_abuse"/>
    </include>
  </select>

  <select id="set">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.updateAll">
      <property name="targetTable" value="ocn_content_abuse"/>
    </include>
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.applyColumnToValueMappings"/>
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.applyGroupedFilterParams"/>
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.applySortingParams"/>
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.applyLimitParam"/>
  </select>

  <delete id="purge">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.deleteAll">
      <property name="targetTable" value="ocn_content_abuse"/>
    </include>
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.applyGroupedFilterParams"/>
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.applySortingParams"/>
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.applyLimitParam"/>
  </delete>

  <delete id="purgeAll">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.deleteAll">
      <property name="targetTable" value="ocn_content_abuse"/>
    </include>
  </delete>

  <select id="get" resultMap="defaultResultMap">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.fetchOrStreamAll">
      <property name="targetTable" value="ocn_content_abuse"/>
    </include>
    where id = #{id}
  </select>

  <delete id="delete">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.deleteAll">
      <property name="targetTable" value="ocn_content_abuse"/>
    </include>
    where id = #{id}
  </delete>
  
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into ocn_content_abuse (
      content_id, 
      violation_type, 
      explanation, 
      complaining_entity_ip, 
      complaining_entity_contact, 
      complaining_entity_user_id, 
      status, status_reason, 
      assignee_id, 
      team_notes
    )
    values (
      #{contentId}, 
      #{violationType}, 
      #{explanation}, 
      #{complainingEntityIp}, 
      #{complainingEntityContact}, 
      #{complainingEntityUserId}, 
      #{status}, 
      #{statusReason}, 
      #{assigneeId}, 
      #{teamNotes}
    )
  </insert>
  
  <update id="update">
    update ocn_content_abuse
    set 
      content_id = #{contentId},
      violation_type = #{violationType},
      explanation = #{explanation},
      complaining_entity_ip = #{complainingEntityIp},
      complaining_entity_contact = #{complainingEntityContact},
      complaining_entity_user_id = #{complainingEntityUserId},
      status = #{status},
      status_reason = #{statusReason},
      assignee_id = #{assigneeId},
      team_notes = #{teamNotes}
    where id = #{id}
  </update>
  
</mapper>
