<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ownchan.server.persistence.mapper.DbPhysicalContentMapper">

  <resultMap id="defaultResultMap" type="DbPhysicalContent">
    <id column="id" property="id" />
    <result column="type" property="type" />
    <result column="status" property="status" />
    <result column="status_reason" property="statusReason" />
    <result column="storage_folder_year" property="storageFolderYear" />
    <result column="storage_folder_month" property="storageFolderMonth" />
    <result column="storage_folder_day" property="storageFolderDay" />
    <result column="storage_folder_uuid" property="storageFolderUuid" />
    <result column="content_checksum" property="contentChecksum" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
    <result column="physical_content_type" property="physicalContentType" />
    <result column="external_content_link" property="externalContentLink" />
    <result column="additional_metadata" property="additionalMetadata" />
  </resultMap>

  <select id="fetch" resultMap="defaultResultMap">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.fetchOrStream">
      <property name="targetTable" value="ocn_physical_content"/>
    </include>
  </select>

  <select id="stream" resultMap="defaultResultMap">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.fetchOrStream">
      <property name="targetTable" value="ocn_physical_content"/>
    </include>
  </select>

  <select id="fetchAll" resultMap="defaultResultMap">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.fetchOrStreamAll">
      <property name="targetTable" value="ocn_physical_content"/>
    </include>
  </select>

  <select id="streamAll" resultMap="defaultResultMap">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.fetchOrStreamAll">
      <property name="targetTable" value="ocn_physical_content"/>
    </include>
  </select>

  <select id="set">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.updateAll">
      <property name="targetTable" value="ocn_physical_content"/>
    </include>
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.applyColumnToValueMappings"/>
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.applyGroupedFilterParams"/>
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.applySortingParams"/>
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.applyLimitParam"/>
  </select>

  <delete id="purge">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.deleteAll">
      <property name="targetTable" value="ocn_physical_content"/>
    </include>
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.applyGroupedFilterParams"/>
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.applySortingParams"/>
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.applyLimitParam"/>
  </delete>

  <delete id="purgeAll">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.deleteAll">
      <property name="targetTable" value="ocn_physical_content"/>
    </include>
  </delete>

  <select id="get" resultMap="defaultResultMap">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.fetchOrStreamAll">
      <property name="targetTable" value="ocn_physical_content"/>
    </include>
    where id = #{id}
  </select>

  <delete id="delete">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.deleteAll">
      <property name="targetTable" value="ocn_physical_content"/>
    </include>
    where id = #{id}
  </delete>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into ocn_physical_content (
      type, 
      status, 
      status_reason, 
      storage_folder_year, 
      storage_folder_month, 
      storage_folder_day, 
      storage_folder_uuid, 
      content_checksum,
      physical_content_type, 
      external_content_link, 
      additional_metadata
      )
    values (
      #{type}, 
      #{status}, 
      #{statusReason}, 
      #{storageFolderYear}, 
      #{storageFolderMonth}, 
      #{storageFolderDay}, 
      #{storageFolderUuid}, 
      #{contentChecksum}, 
      #{physicalContentType}, 
      #{externalContentLink}, 
      #{additionalMetadata}
      )
  </insert>

  <update id="update">
    update ocn_physical_content
    set 
      type = #{type},
      status = #{status},
      status_reason = #{statusReason},
      storage_folder_year = #{storageFolderYear},
      storage_folder_month = #{storageFolderMonth},
      storage_folder_day = #{storageFolderDay},
      storage_folder_uuid = #{storageFolderUuid},
      content_checksum = #{contentChecksum},
      physical_content_type = #{physicalContentType},
      external_content_link = #{externalContentLink},
      additional_metadata = #{additionalMetadata}
    where id = #{id}
  </update>

</mapper>
