<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ownchan.server.persistence.mapper.DbSettingChoiceMapper">

  <resultMap id="defaultResultMap" type="DbSettingChoice">
    <id column="id" property="id" />
    <result column="setting_id" property="settingId" />
    <result column="setting_value" property="settingValue" />
    <result column="msg_id_name" property="msgIdName" />
    <result column="msg_id_description" property="msgIdDescription" />
  </resultMap>

  <select id="fetch" resultMap="defaultResultMap">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.fetchOrStream">
      <property name="targetTable" value="ocn_setting_choice"/>
    </include>
  </select>

  <select id="stream" resultMap="defaultResultMap">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.fetchOrStream">
      <property name="targetTable" value="ocn_setting_choice"/>
    </include>
  </select>

  <select id="fetchAll" resultMap="defaultResultMap">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.fetchOrStreamAll">
      <property name="targetTable" value="ocn_setting_choice"/>
    </include>
  </select>

  <select id="streamAll" resultMap="defaultResultMap">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.fetchOrStreamAll">
      <property name="targetTable" value="ocn_setting_choice"/>
    </include>
  </select>

  <update id="set">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.set">
      <property name="targetTable" value="ocn_setting_choice"/>
    </include>
  </update>

  <update id="setAll">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.setAll">
      <property name="targetTable" value="ocn_setting_choice"/>
    </include>
  </update>

  <delete id="purge">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.purge">
      <property name="targetTable" value="ocn_setting_choice"/>
    </include>
  </delete>

  <delete id="purgeAll">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.deleteAll">
      <property name="targetTable" value="ocn_setting_choice"/>
    </include>
  </delete>

  <select id="count" resultType="long">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.count">
      <property name="targetTable" value="ocn_setting_choice"/>
    </include>
  </select>

  <select id="countAll" resultType="long">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.countAll">
      <property name="targetTable" value="ocn_setting_choice"/>
    </include>
  </select>

  <select id="get" resultMap="defaultResultMap">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.fetchOrStreamAll">
      <property name="targetTable" value="ocn_setting_choice"/>
    </include>
    where id = #{id}
  </select>

  <delete id="delete">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.deleteAll">
      <property name="targetTable" value="ocn_setting_choice"/>
    </include>
    where id = #{id}
  </delete>

  <insert id="insert">
    <selectKey keyProperty="obj.id" order="AFTER" resultType="long">
      select last_insert_id()
    </selectKey>
    insert into ocn_setting_choice (
      setting_id,
      setting_value,
      msg_id_name,
      msg_id_description
    )
    values (
      #{obj.settingId},
      #{obj.settingValue},
      #{obj.msgIdName},
      #{obj.msgIdDescription}
    )
    <if test="ignoreDuplicateKey">
      on duplicate key update
        id = last_insert_id(id)
        <if test="updateOnDuplicateKey">
          ,
          <include refid="assignUpdateValues"/>
        </if>
    </if>
  </insert>

  <update id="update">
    update ocn_setting_choice
    set
      <include refid="assignUpdateValues"/>
    where id = #{obj.id}
  </update>

  <sql id="assignUpdateValues">
      setting_id = #{obj.settingId},
      setting_value = #{obj.settingValue},
      msg_id_name = #{obj.msgIdName},
      msg_id_description = #{obj.msgIdDescription}
  </sql>

</mapper>
