<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ownchan.server.persistence.mapper.DbUserMapper">

  <resultMap id="defaultResultMap" type="DbUser">
    <id column="id" property="id" />
    <result column="alias" property="alias" />
    <result column="display_name" property="displayName" />
    <result column="password_hash" property="passwordHash" />
    <result column="status" property="status" />
    <result column="status_reason" property="statusReason" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
    <result column="email" property="email" />
    <result column="motto" property="motto" />
    <result column="external_link" property="externalLink" />
    <result column="avatar_content_id" property="avatarContentId" />
    <result column="last_password_change_time" property="lastPasswordChangeTime" />
    <result column="beacon_time" property="beaconTime" />
  </resultMap>

  <select id="fetch" resultMap="defaultResultMap">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.fetchOrStream">
      <property name="targetTable" value="ocn_user"/>
    </include>
  </select>

  <select id="stream" resultMap="defaultResultMap">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.fetchOrStream">
      <property name="targetTable" value="ocn_user"/>
    </include>
  </select>

  <select id="fetchAll" resultMap="defaultResultMap">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.fetchOrStreamAll">
      <property name="targetTable" value="ocn_user"/>
    </include>
  </select>

  <select id="streamAll" resultMap="defaultResultMap">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.fetchOrStreamAll">
      <property name="targetTable" value="ocn_user"/>
    </include>
  </select>

  <update id="set">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.set">
      <property name="targetTable" value="ocn_user"/>
    </include>
  </update>

  <update id="setAll">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.setAll">
      <property name="targetTable" value="ocn_user"/>
    </include>
  </update>

  <delete id="purge">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.purge">
      <property name="targetTable" value="ocn_user"/>
    </include>
  </delete>

  <delete id="purgeAll">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.deleteAll">
      <property name="targetTable" value="ocn_user"/>
    </include>
  </delete>

  <select id="count" resultType="long">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.count">
      <property name="targetTable" value="ocn_user"/>
    </include>
  </select>

  <select id="countAll" resultType="long">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.countAll">
      <property name="targetTable" value="ocn_user"/>
    </include>
  </select>

  <select id="get" resultMap="defaultResultMap">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.fetchOrStreamAll">
      <property name="targetTable" value="ocn_user"/>
    </include>
    where id = #{id}
  </select>

  <delete id="delete">
    <include refid="org.ownchan.server.persistence.mapper.GenericMapper.deleteAll">
      <property name="targetTable" value="ocn_user"/>
    </include>
    where id = #{id}
  </delete>

  <insert id="insert">
    <selectKey keyProperty="obj.id" order="AFTER" resultType="long">
      select last_insert_id()
    </selectKey>
    insert into ocn_user (
      alias,
      display_name,
      password_hash,
      status,
      status_reason,
      email,
      motto,
      external_link,
      avatar_content_id,
      last_password_change_time
    )
    values (
      #{obj.alias},
      #{obj.displayName},
      #{obj.passwordHash},
      #{obj.status},
      #{obj.statusReason},
      #{obj.email},
      #{obj.motto},
      #{obj.externalLink},
      #{obj.avatarContentId},
      #{obj.lastPasswordChangeTime}
    )
    <if test="ignoreDuplicateKey">
      on duplicate key update
        id = last_insert_id(id)
        <if test="updateOnDuplicateKey">
          ,
          <include refid="assignUpdateValues"/>
        </if>
    </if>
  </insert>

  <update id="update">
    update ocn_user
    set
      <include refid="assignUpdateValues"/>
    where id = #{obj.id}
  </update>

  <sql id="assignUpdateValues">
      alias = #{obj.alias},
      display_name = #{obj.displayName},
      password_hash = #{obj.passwordHash},
      status = #{obj.status},
      status_reason = #{obj.statusReason},
      email = #{obj.email},
      motto = #{obj.motto},
      external_link = #{obj.externalLink},
      avatar_content_id = #{obj.avatarContentId},
      last_password_change_time = #{obj.lastPasswordChangeTime}
  </sql>

</mapper>
